1. What are data structures, and why are they important?
  - They're organized ways to store and manage data, like lists, sets, and dictionaries.
 - They let you find, add, or change data efficiently.
 - Good structures make programs faster and easier to scale.
   
2. Explain the difference between mutable and immutable data types with examples?
  - Mutable objects can be changed after they're created (like lists, sets, or dictionaries).
  - Immutable objects stay the same once made (like strings or tuples).
  - For example, you can update a list item, but changing a string actually makes a brand-new string.

3. What are the main differences between lists and tuples in Python ?
   - A list can be changed; a tuple can't.
   - Lists use a bit more memory and can be slower when the data never changes.
   - Tuples can be used as dictionary keys if they only contain immutable items.
  
4. Describe how dictionaries store data?
    - They keep data as key–value pairs.
    - Behind the scenes, Python uses a hash table to find keys quickly.
    - That's why looking up a value by key is usually very fast.

5. Why might you use a set instead of a list in Python?
    - Sets automatically keep only unique items.
    - Checking if something is in a set is usually faster.
    - They're great for things like unions and intersections in math.

6. What is a string in Python, and how is it different from a list?

    - A string is just a sequence of characters, a list can hold anything.
    - Strings can’t be changed in place, but lists can.
    - String methods always return a new string.
  
7. How do tuples ensure data integrity in Python?

     - Since they can’t change, tuples prevent accidental edits.
     - You can safely use them as dictionary keys.
     - They’re perfect when data should stay the same.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table maps a key to a memory location using a hash function.
    - Python dictionaries are built on this idea.
    - That’s what makes key lookups almost instant.

9. Can lists contain different data types in Python?
   -  Yes, a single list can hold numbers, strings, or even other lists.
   - Each element keeps its own type.
   - Handy for collections of different kinds of data.

10. Explain why strings are immutable in Python?
    - They’re stored in a way that saves memory and makes them shareable.
    - Python can safely reuse the same string in different places.
    - Any “change” just creates a new string behind the scenes.

11. What advantages do dictionaries offer over lists for certain tasks?
    -  You can look up data by key instead of searching by position.
    - They naturally pair data, like a name with a phone number.
    - Updating or removing by key is quick.

12. Describe a scenario where using a tuple would be preferable over a list?

- When you need data that must never change, like GPS coordinates.
- When you want to use it as a key in a dictionary or an element in a set.
- For small, fixed data, they’re a bit faster.

13. How do sets handle duplicate values in Python?

- They automatically drop duplicates.
- Only one copy of each unique value is kept.
- Membership checks use hashing for speed.

14. How does the “in” keyword work differently for lists and dictionaries?

- In a list, it checks whether a value exists.
- In a dictionary, it checks for a key, not a value.
- That makes dictionary checks quick and direct.

15. Can you modify the elements of a tuple? Explain why or why not?

- You can’t change a tuple once it’s made.
- You can’t reassign its items.
- But if it holds a mutable object, that object itself could change internally.

16. 16.What is a nested dictionary, and give an example of its use case?

- It’s a dictionary where the values are other dictionaries.
- Example: students = {'A': {'age': 20, 'grade': 'B'}}.
- Useful for structured data, like JSON.

17. Describe the time complexity of accessing elements in a dictionary?

- Getting a value by key is usually constant time (O(1)).
- Only in rare collision cases does it take longer.
- Very efficient for big datasets.

18. In what situations are lists preferred over dictionaries?

- When order matters or duplicates are fine.
- For simple sequences like a to-do list.
- When numeric indexing feels more natural.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

- They don’t rely on numeric positions but on hash keys.
- Before Python 3.7 the insertion order wasn’t guaranteed.
- You always fetch by key, not by position.

20. Explain the difference between a list and a dictionary in terms of data retrieval ?

- Lists use numeric indexes to get items.
- Dictionaries use keys and hashing to find values.
- Dictionaries let you look up data by meaningful names, not positions.

In [1]:
# PRACTICAL QUESTION
# 1.Write a code to create a string with your name and print it.

In [2]:
name = "Abdullah"
print(name)

Abdullah

In [ ]:
# 2. Write a code to find the length of the string "Hello World"

In [3]:
print(len("Hello World"))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [11]:
print("Python Programming"[:3])

Pyt

In [ ]:
# 4.  Write a code to convert the string "hello" to uppercase

In [12]:
print("hello".upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [13]:
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

In [14]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [15]:
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [16]:
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [17]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [18]:
data = [10, 20, 30, 40, 50]
data.reverse()
print(data)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [19]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [20]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
print(min((10, 20, 5, 15)))

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
print({'name': 'Alice', 'age': 30}["name"])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
d2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d2["age"]
print(d2)

{'name': 'Bob', 'city': 'New York'}

In [33]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
print("city" in {'name': 'Alice', 'city': 'Paris'})

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [36]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[15, 44, 76, 87, 96]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.

In [37]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

In [38]:
d1 = {"x": 1, "y": 2}
d2 = {"z": 3}
d1.update(d2)
print(d1)

{'x': 1, 'y': 2, 'z': 3}

In [ ]:
# 30. Write a code to convert a list of strings into a set.

In [39]:
str_list = ["apple", "banana", "apple"]
print(set(str_list))

{'apple', 'banana'}